#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  @keyframes hover {
    from {
      transform: translateY(0px)
    }

    to {
      transform: translateY(20px);
    }
  }
  .icon1 {
    position: absolute;
    @include iconSizeAndPos($bigIconHeight, $bigIconWidth, 30vw, 30vh);
    animation: hover 5s linear infinite alternate none;
  }
  .icon2 {
    position: absolute;
    @include iconSizeAndPos($bigIconHeight, $bigIconWidth, 65vw, 60vh);
  }
  .icon3 {
    position: absolute;
    @include iconSizeAndPos($bigIconHeight, $bigIconWidth, 75vw, 20vh);
    animation: hover 3s linear infinite alternate none;

  }
  .icon4 {
    position: absolute;
    @include iconSizeAndPos($smlIconHeight, $smlIconWidth, 30vw, 78vh);
  }
  .icon5 {
    position: absolute;
    @include iconSizeAndPos($bigIconHeight, $bigIconWidth, 80vw, 47vh);
  }
  .icon6 {
    position: absolute;
    @include iconSizeAndPos($bigIconHeight, $bigIconWidth, 15vw, 20vh);
    animation: hover 3s linear infinite alternate none;
  }
  .icon62 {
    position: absolute;
    @include iconSizeAndPos($smlIconHeight, $smlIconWidth, 15vw, 60vh);
    animation: hover 3s linear 1s infinite alternate none;

  }
  .icon63 {
    position: absolute;
    @include iconSizeAndPos($medIconHeight, $medIconWidth, 80vw, 80vh);
    animation: hover 2s linear infinite alternate none;

  }
  .icon7 {
    position: absolute;
    @include iconSizeAndPos($bigIconHeight, $bigIconWidth, 60vw, 30vh);
  }
  .icon8 {
    position: absolute;
    @include iconSizeAndPos($medIconHeight, $medIconWidth, 23vw, 50vh);
  }
}
